@font-face {
  font-family: "Basement Grotesque";
  src: url("basement-grotesqueRegularRegular.woff") format("woff"),
    url("basement-grotesqueRegularRegular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
