.gridproducts{
  width: 100%;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  align-content: center;
}

.wrapper div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}